:root {
    --primary-color: #667EEA;
    --secondary-color: #ED8936;
}
body {
    //background: #414141;
}
* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}
body { 
    font: Ubuntu, Arial; 
    color: white;
}

.input { 
    padding: 3px; 
    position: fixed; 
    bottom: 0; 
    width: 100%; 
}
#messages { 
    list-style-type: none; 
    margin: 0; 
    padding: 1em; 
    padding-bottom: 6em;
}

.self {
    text-align: right;
}



#messages li.message { 
    padding: 5px 10px; 
    background: var(--primary-color);
    max-width: 50%;
    border-radius: 0px 10px 10px 10px;
    margin-bottom: 1em;
    display: inline-block;
}
#messages .self li.message {
    background-color: var(--secondary-color) !important;
    border-radius: 10px 0px 10px 10px;
    text-align: left;
}

#status {
    margin-left: .5em;
}
//#messages li:nth-child(odd) { background: #eee; }